* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

body,
html,
.App,
#root,
div > .App {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("/stage.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  line-height: 30px;
}

.center-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro p {
  font-size: 20px;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.current-question {
  background: orange;
  color: black;
}

.questionList li {
  color: orange;
}

/* hover */
.nextButton:hover {
  background-color: rgb(255, 140, 0) !important;
  cursor: pointer;
}

.startButton:hover {
  background-color: rgb(24, 206, 0) !important;
  cursor: pointer;
}

.question-choice-hover:hover {
  background-color: rgb(0, 0, 0) !important;
  cursor: pointer;
}

.question-choice-hover:hover div:nth-of-type(2) {
  border-right: 30px solid rgb(0, 0, 0) !important;
}

.question-choice-hover:hover div:nth-of-type(3) {
  border-left: 30px solid rgb(0, 0, 0) !important;
}
/* end hover */

.correct {
  background-color: rgba(24, 206, 0, 0.85) !important;
}

.correct-left-triangle {
  border-right: 30px solid rgba(24, 206, 0, 0.85) !important;
}
.correct-right-triangle {
  border-left: 30px solid rgba(24, 206, 0, 0.85) !important;
}

.incorrect {
  background-color: rgba(255, 0, 0, 0.85) !important;
}

.incorrect-left-triangle {
  border-right: 30px solid rgba(255, 0, 0, 0.85) !important;
}
.incorrect-right-triangle {
  border-left: 30px solid rgba(255, 0, 0, 0.85) !important;
}
